{% extends 'layout.html' %}

{% block page_title %}My Easy2exchange Administration{% endblock %}

{% block content %}	
	<h1>My Order Administration</h1>

	

	{% if orders %}
		<table>
			<thead>
				<tr>
				    <th>id</th>
					<th>email</th>
					<th>bitaddress</th>
					<th>account</th>
					<th>amount</th>
					<th>status</th>
					<th>time</th>
					<th colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
			
				{% for order in orders %}
					<tr>
						<td>{{ order.id }}</td>
						<td>{{ order.email }}</td>
						<td>{{ order.btc_addr }}</td>
						<td>{{ order.payer_account }}</td>
						<td>{{ order.payment_amount }}</td>
						<td>{{ order.status }}</td>
						<td>{{ order.timestamp|date('jS F Y') }}</td>
						<td><a href="/admin/view/{{ order.id }}">view</a></td>
						
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>There are currently no orders.</p>
	{% endif %}
{% endblock %}