{% extends 'layout.html' %}

{% block page_title %}{{ order.id }}{% endblock %}

{% block content %}
	<h1>{{ order.id }}</h1>
	<p>Published: {{ order.timestamp|date('jS F Y') }} by {{ order.btc_addr }}</p>
	<p>{{ order.email }}</p>
		<p>{{ order.payment_amount }}</p>
			<p>{{ order.payment_units }}</p>
				<p>Old Rate: <p>{{ order.rate }}</p></p>
				<p>Old balance: <p>{{ order.last }}</p></p>
				<p>new Rate: <p>{{ order.newrate }}</p></p>
				<p>New Balance: <p>{{ order.newlast }}</p></p>
				
			<p>Bitcoin:	<p>{{ order.bitcoin }}</p></p>
				<p>Status:	<p>{{ order.status }}</p></p>
					
	<p><a href="/">Back to Homepage</a></p>
{% endblock %}